name: Node.js CI

on:
  push:
    branches:
      - main

jobs:
  build:
    if: contains(github.event.head_commit.message, 'GENERATE_RELEASE_NOW')
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v3
        with: 
          ref: 'main'
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: git pull    
      - run: npm ci
      - run: git config --global user.email "action@github.com"
      - run: git config --global user.name "GithubAction"
      - run: npm run release
      - run: git push --follow-tags origin
      - run: docker images

